<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.liga.batisMapper.MenuItemMapper">
    <resultMap id="menuItem" type="ru.liga.entities.MenuItem">
        <id property="id" column="id"/>
        <result property="restaurantId" column="restaurant_id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="description" column="description"/>
    </resultMap>
    <select id="getMenuItems" resultMap="menuItem">
        select * from menu_items
    </select>
</mapper>